html {  
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

body {
  background-color: #80808029;
  font-family: 'Raleway', sans-serif;
}

img {
  width: 250px;
} /*temporario*/

