/* ---------- INICIO RESET ---------- */
html {  
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  box-sizing: border-box;
}

body {
  background-color: #80808029;
  font-family: 'Raleway', sans-serif;
}
/* ---------- FIM RESET ----------

---------- INICIO ROOT ---------- */
:root {
  --hd-width: 102.4rem;
}
/* ---------- FIM ROOT ----------

---------- INICIO TEMPORARIO ---------- */
/* ---------- FIM TEMPORARIO ----------

---------- INICIO HEADER ---------- */
header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 5.5rem;
  background-color: #fff;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  max-width: var(--hd-width);
}

header img {
  width: 3.2rem;
  height: 3.2rem;
}

header h1 {
  font-size: 2.4rem;
  color: #5d15d1;
  margin-left: 1rem;
}
/* ---------- FIM HEADER ----------

---------- INICIO MAIN ---------- */
/* section #formulario */
#formulario {
  width: 100%;
  height: auto;
  background-image: url(../img/bahia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
}

#formulario form {
  width: 100%;
  height: auto;
  max-width: var(--hd-width);
  margin: auto;
  background-color: #fff;
}

.form-header {
  width: 100%;
  height: 3.5rem;
  background-color: #5d15d1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: var(--hd-width);
}

.form-header img {
  width: 2rem;
  height: 2rem;
  transform: rotate(-45deg);
}

.form-header h2 {
  font-size: 1.4rem;
  margin-left: 0.5rem;
  color: #fff;
}

fieldset {
  padding: 0 2.5rem 2rem 2.5rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  border: none;
}

fieldset .form-title {
  font-size: 2.2rem;
  margin-bottom: 2.4rem;
}

input, select{
  line-height: 3.2rem;
  margin: 1rem 0;
  width: 100%;
}

input {
  padding: 0 0.5rem;
  box-sizing: border-box;
}

select {
  padding: 0 0.3rem;
}



.container div {
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
}

.container div:first-child {
  margin-right: 1rem;
}

.container div:last-child {
  margin-left: 1rem;
}

.escolhas {
  display: flex;
  justify-content: flex-start;
}

.escolhas div {
  display: flex;
  align-items: center;
  width: 12rem;
}

.escolhas input {
  width: 1.5rem;
}

.escolhas label {
  margin-left: 0.8rem;
}

button {
  width: 16rem;
  height: 3.2rem;
  background-color: #5d15d1;
  color: #fff;
  border: none;
}

button:hover {
  cursor: pointer;
  margin-top: 1.2rem;
}

/* section #ofertas */
#ofertas, #anuncios {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 3.2rem auto 0 auto;
  max-width: var(--hd-width);
}

#ofertas h2, #anuncios h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#ofertas h3, #anuncios h3 {
  font-weight: normal;
  margin-bottom: 1.5rem;
}

#ofertas h3 span {
  font-weight: bold;
}

.figures {
  width: 100%;
  height: 37.5rem;
  display: flex;
  justify-content: space-between;
}

.figures .first {
  position: relative;
  width: calc(50% - 1rem);
  height: 100%;
}

.figures .second {
  width: calc(50% - 1rem);
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.second figure {
  position: relative;
  width: calc(50% - 1rem);
  height: calc(50% - 1rem);
  margin: 0 0.6rem;
}

.figures img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0 0 0 / 50%);
  font-size: 1.7rem;
  color: #fff;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

article {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

article figure {
  width: calc(50% - 1rem);
  height: 100%;
  object-fit: cover;
}

article figure img {
  width: 100%;
  height: 100%;
}

article figure div {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 2rem;
  background-color: #fff;
}

article figure div p{
  font-size: 1.4rem;
  color: grey;
  margin: 1.5rem 0;
}
/* ---------- FIM MAIN ----------

---------- INICIO FOOTER ---------- */
footer {
  width: 100%;
  background-color: #5d15d1;
  margin-top: 3.2rem;
}

footer section {
  max-width: var(--hd-width);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

footer section div {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
}

footer section div h2 {
  color: #fff;
  font-size: 2.0rem;
  margin-bottom: 1.5rem;
}

footer section div nav {
  display: flex;
  flex-direction: column;
}

footer section div nav figure {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

footer section div nav a {
  color: #fff;
  font-size: 1.4rem;
  margin-left: 1rem;
  text-decoration: none;
}

footer section div nav img {
  width: 1.8rem;
}


/* ---------- FIM FOOTER ----------